---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->

  {% include fragment-base-navtabs.html type='MessageHeader' id='discharge-notification-messageheader-01' active='content' %}

  <a name="root"> </a>
{% if site.data.artifacts[page.path].example %}
  {% assign example = 'Example ' %}
{% endif %}
{% assign prefix = site.data.artifacts[page.path].type %}
  <h2 id="root">{{example}}{{prefix}}: {{site.data.pages[page.path].title}}</h2>

{% unless example %}
  {% if 'MessageHeader' == 'CapabilityStatement' %}
      <p>
      <a href="discharge-notification-messageheader-01.openapi.json" no-download="true">Raw OpenAPI-Swagger Definition file</a> | <a href="discharge-notification-messageheader-01.openapi.json" download>Download</a>
      </p>
  {% endif %}
{% endunless %}

  <!-- insert intro if present -->
  {% include fragment-intro.html type='MessageHeader' id='discharge-notification-messageheader-01' %}

  {% include MessageHeader-discharge-notification-messageheader-01-html.xhtml %}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='MessageHeader' id='discharge-notification-messageheader-01' %}

</div>
{% include fragment-pageend.html %}
