---
---
<!-- get modelType -->
{% include fragment-modelType.html id='admit-discharge-notification-coverage' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='admit-discharge-notification-coverage' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: AdmitDischargeNotificationCoverageProfile - Change History</h2>
  <p>Changes in the admit-discharge-notification-coverage {{modelType | downcase}}.</p>

  {%include StructureDefinition-admit-discharge-notification-coverage-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
