{% extends "template.html" %}

{% block content %}
  <h3> This is the collection of resource to bundle as a Message see below for the bundle</h3>

  {% for k,v in endpoints.items() %}

  <a class="btn btn-primary btn-lg" role="button" href="../{{v}}/$process-message">CLICK HERE to send message bundle the {{k}} $process-message endpoint</a>
  <br/>
  <br/>

{% endfor %}

  <h4>Current date/time: {{ current_time | datetimefilter }}</h4>
  <br>
  <p>My string (in markdown!!): {{my_string | markdown | safe }}</p>

list of resources in Bundle:
<ul>
{% for i in resources %}
<li>
{{i.resource_type}}/{{i.id}}
</li>
{% endfor %}
</ul>

<h4>Message Bundle Resource:</h4>
<pre>
{{ message_bundle }}
</pre>
  <h3> This is the end of my child template</h3>
{% endblock content %}
