{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}  <!-- foo -->
  <h3> This is the start of my child template</h3>
  <br>
  <h4>Current date/time: {{ current_time | datetimefilter }}</h4>
  <br>
  <p>My string (in markdown!!): {{my_string | markdown | safe}}</p>

{{"Loop through a fixed list of Encounter ids .. **Click on one to Fetch an Encounter Resource**"  | markdown | safe}}

    {% for n in enc_list %}
    <a class="btn btn-primary" role="button" href="Encounter/{{n}}">{{n}}</a>
    <br /><br />
    {% endfor %}

  <br>
  <!--
  <p>Same list with a filter: {{ enc_list|join(', ') }}</p>
  -->
  <h3> This is the end of my child template</h3>
  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}
